<footer>
        
        <center>
            <img class="img-responsive"  src="http://cdn.icons8.com/storage/windows8/PNG/128/Printing/tool_box-128.png" title="Tool box" width="64">
        </center>
        <br><br>
                <p class="copyright text-muted small  pull-right ">Copyright &copy; 2014, <a href="http://vancopackaging.com">Vanco Packaging Corporation</a>. All Rights Reserved<br>
                1221-C Jackson Street &middot; Aurora, IL &middot; 60505 &middot; p:630.851.7350  &middot; f:630.851.7384</p>

</footer>

<!-- Latest compiled and minified JavaScript -->
<!--<script src="{{ site.baseurl }}public/jquery-1.10.2.js"></script>-->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     
     ga('create', 'UA-50794428-2', 'screentime.io');
     ga('send', 'pageview');
     
</script>
