{% include head.html %}
    
    <body>
        {% include navbar.html %}
        
        
        
        
        
        <!-- Carousel
         ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ site.baseurl }}public/images/police.png" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Example headline.</h1>
                                <p>Some stuff...</p>
                            </div>
                        </div>
                        </div>
                <div class="item">
                    <img src="{{ site.baseurl }}public/images/photography.png" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Another example headline.</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                        </div>
                <div class="item">
                    <img src="{{ site.baseurl }}public/images/storm_hunting.png" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>One more for good measure.</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                        </div>
                <div class="item">
                    <img src="{{ site.baseurl }}public/images/military.png" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>One more for good measure.</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                        </div>
                <div class="item">
                    <img src="{{ site.baseurl }}public/images/storm_kayak.png" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>One more for good measure.</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                        </div>

            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div><!-- /.carousel -->
        




<!-- Marketing messaging and featurettes
 ===================================================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <h1 class='headline'>An Exclusive Retailer of Hardigg and Pelican Cases</h1>
    <p class="lead">Custom solutions for all your packaging needs.</p>
    
    <!-- Three columns of text below the carousel -->
    <div class="row">
    
    
        <div class="col-sm-4">
            <img class="img-circle" src="{{ site.baseurl }}public/images/fire_circle.jpg" alt="Generic placeholder image" style="width: 175px; height: 175px;">
                <h2>Fire and EMS</h2>
          <!--      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                -->
                </div><!-- /.col-lg-4 -->

        <div class="col-sm-4">
            <img class="img-circle" src="{{ site.baseurl }}public/images/police_circle.png"  alt="Generic placeholder image" style="width: 175px; height: 175px;">
                <h2>Law Enforcement</h2>
                <!-- <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
                </div><!-- /.col-lg-4 -->
    
    
        <div class="col-sm-4">
            <img class="img-circle" src="{{ site.baseurl }}public/images/military_circle.png"  alt="Generic placeholder image" style="width: 175px; height: 175px;">
                <h2>Military</h2>
                <!-- <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
                </div><!-- /.col-lg-4 -->
    
    
    </div><!-- /.row -->
    
    <hr class="half-rule">
</div>
<!-- Marketing messaging and featurettes
 ===================================================================================== -->

<div class="background">
<div class="container marketing">

<!-- Wrap the rest of the page in another container to center all the content. -->

    <h1 class='headline'>Paper and Foam Packaging</h1>
    <p class="lead">Vanco's modern manufacturing facility has the ability to produce a wide range of packaging products for unusual and demanding specialty requirements.</p>
    
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle" src="{{ site.baseurl }}public/images/storm_fire3_small.png" alt="Generic placeholder image">
                <h2>Fire and EMS</h2>
                </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <img class="img-circle" src="{{ site.baseurl }}public/images/fireman_small.png"  alt="Generic placeholder image">
                <h2>Heading</h2>
               
                </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <img class="img-circle" src="{{ site.baseurl }}public/images/photographer_beach_small.png"  alt="Generic placeholder image">
            <h2>Heading</h2>
		</div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="half-rule">
</div> 
</div>



<!-- --------------------------------------------------------------------------------- -->
<!-- FOAM -->
<!-- --------------------------------------------------------------------------------- -->
<div class="background" style="background-color:#A6CAE4">
<div class="container marketing">
    <h1 class='headline'>Protective Foam Devices</h1>
    <p class="lead">Vanco has extensive expertise in providing engineered foam protective products utilizing the latest materials technology has provided. From die cut foam blocks to "foam-in-place" techniques, our design staff has the expertise founded on decades of providing engineered solutions for storing and shipping fragile products. We fabricated foam pads using polyurethane, polyethylene, and polypropylene materials in differing densities and material combinations.</p>
    
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle" src="{{ site.baseurl }}public/images/storm_fire3_small.png" alt="Generic placeholder image">
                <h2>Fire and EMS</h2>
                </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <img class="img-circle" src="{{ site.baseurl }}public/images/fireman_small.png"  alt="Generic placeholder image">
                <h2>Heading</h2>
               
                </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <img class="img-circle" src="{{ site.baseurl }}public/images/photographer_beach_small.png"  alt="Generic placeholder image">
            <h2>Heading</h2>
		</div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="half-rule">
</div> 
</div>
<!-- --------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------- -->



<!-- Marketing messaging and featurettes
 ================================================== -->
<!-- START THE FEATURETTES -->
<div class="background" style="background-color:#FFFDFF;">
<div class="container marketing">
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7"'>
        <h2 class="featurette-heading">Protective Foam Devices<span class="text-muted"></span></h2>
        <p class="lead">Vanco has extensive expertise in providing engineered foam protective products utilizing the latest materials technology has provided. From die cut foam blocks to "foam-in-place" techniques, our design staff has the expertise founded on decades of providing engineered solutions for storing and shipping fragile products. We fabricated foam pads using polyurethane, polyethylene, and polypropylene materials in differing densities and material combinations.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ site.baseurl }}public/images/photographer_beach_small.png" alt="Generic placeholder image">
            </div>
</div>
</div>
</div> <!-- /background -->

<!-- --------------------------------------------------------------------------------- -->
<div class="background">
<div class="container marketing">
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Corrugated Singleface and Build-up Assemblies<span class="text-muted"></span></h2>
        <p class="lead">Vanco is one of the few manufacturers of corrugated singleface rolls, sheets tubes, and other specialties located in the midwest market. These time tested materials have maintained thier value as an attractive and cost effective wrapping and cushioning grade of corrugated paper. This product is normally sold in rolls of 250 feet in a wide variety of widths, many of which are in stock for next day delivery. In addition, custom sizes are readily available with short lead times. Vanco also uses singleface corrugated in producing custom designed build-up blocks, pads and assemblies. One of these labor savings devices can often replace five or more scored sheets, die cuts, and other interior components that have to be folded and often taped or glued to maintain thier shape. Our engineers can provide specific details on how we may save you time and money by using corrugated build-up products.</p>
    </div>
</div>
</div>
</div>



<!-- --------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------- -->
<hr class="featurette-divider">
<div class="background" style="background-color:#C6DC8A">
<div class="container marketing">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Design Consulting<span class="text-muted"></span></h2>
        <p class="lead">At Vanco we pride ourselves on delivering the most cost effective solutions to your packaging needs. This is why our packaging engineers work with our clients throughout the entire packaging development process. Our design consulting involves a brainstorming session where our engineers discuss ideas on solving our clients problems. Next, utilzing the latest in computer aided drafting, we create CAD drawings to bring our ideas to life. We then make several prototypes to test our designs against client based criteria, before moving on to full scale production. Vanco's time tested process has been proven extremely successful in bringing forth the best packaging designs.

.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
</div>

</div>
</div>
<!-- --------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------- -->


<hr class="featurette-divider">


<!-- /END THE FEATURETTES -->
{% include footer.html %}
</body>
</html>
