<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    
    {% include head.html %}
    
    <body>
    
    
        <div class="banner">
            
            <div class="container">
                
                <div class="row">
                    <h2>Using Screen Time</h2>
                    
                </div>
            </div>
            
        </div>
        
        <!-- /.container -->
        
        <!-- </div> -->
        <!-- /.banner -->
        
        <div class="content-section-a">
            
            <div class="container">
                
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <h2 class="section-heading">Settting a User and Starting a Session</h2>
                        <p class="lead">
                        <ol>
                            <li>Drag your finger horizontally across the numbers to set the time</li>
                            <li>Set the user by tapping on user names in the upper left of the screen. You will be prompted to add a user name before beginning the first session.</li>
                            <li>Press "Start"</li>
                            <li>Pass your iPhone or iPad to your child and let them use the phone any way you choose (e.g. apps, movies, music).</li>
                            <li>Screen Time runs in background and keeps track of how much time has expired.</li>
                        </ol>
                        </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="{{ site.baseurl }}public/images/startingasession.png" alt="">
                            </div>
                </div>
                
            </div>
            <!-- /.container -->
            
        </div>
        <!-- /.content-section-a -->
        
        <div class="content-section-b">
            
            <div class="container">
                
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <h2 class="section-heading">Monitor Time Remaining</h2>
                        <p class="lead">
                        You can monitor how much time is remaining in the current session by switching to multi-tasking mode.
                        <ol>
                            <li>Double-click the 'Home' button on the device to display recently used apps.</li>
                            <li>Screen Time will show you the minutes remaining on the application screenshot.</li>
                            <li>The background color changes to provide a visual cue to younger users who can not yet read or tell time.</li>
                            <li>Green Background: More than 5 minutes remaining</li>
                            <li>Orange Background: Less than 5 minutes</li>
                            <li>Red Background: Less than 2 minutes</li>
                        </ol>
                        </p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="{{ site.baseurl }}public/images/2.png" alt="">
                            </div>
                </div>
                
            </div>
            <!-- /.container -->
            
        </div>
        <!-- /.content-section-b -->
        
        <div class="content-section-a">
            
            <div class="container">
                
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <h2 class="section-heading">Notifications and Alerts</h2>
                        <p class="lead">
                        After your predetermined time, a series of alerts and notification will play alerting the child (and you) that their screen time is up.
                        
                        <ul>
                            <li>A single notification will be posted to Notification Center to all devices that share an iCloud account (e.g. iPhone, iPad, Mac Book Pro, Mac Pro). You will be prompted to grant access to your Calendar when the application first launches to use this feature. You can update this preference in Settings.</li>
                            <li>Continous notifications will be presented on the device (similar to text messages). This will temporarily disrupt the child's activity on the device.</li>
                            <li>Notifications continue to fire even in they child taps 'Cancel'.</li>
                            <li>A siren will sound</li>
                            <li>The camera's flash will fire when on the passcode screen</li>
                        </ul>
                        
                    </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="{{ site.baseurl }}public/images/doge.png" alt="">
                            </div>
                </div>
                
            </div>
            <!-- /.container -->
            
        </div>
        <!-- /.content-section-a -->
        
        
        
        <!-- /////////////////////////////////////////////////////////////// -->
        <!-- /////////////////////////////////////////////////////////////// -->
        <div class="content-section-b">
            
            <div class="container">
                
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <h2 class="section-heading">Changing Alert Style</h2>
                        <p class="lead">
                        For best results (e.g. the most disruptive to the child), change the notification types to 'Alert' style using iOS' Setting.app.
                        
                        <ol>
                            <li>Launch the iOS Settings app (gray gears icon).</li>
                            <li>Navigate to Notification Center.</li>
                            <li>Tap on the "Screen Time" application</li>
                            <li>Tap on 'Alerts' style alert style</li>
                        </ol>
                        The first time you use Screen Time on a device, you will be prompted to set a passcode.
                        You can change the passcode at any time in the 'Settings' screen in the application.
                        </ol>
                        
                        </p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="{{ site.baseurl }}public/images/badges.png" alt="">
                            </div>
                </div>
                
            </div>
            <!-- /.container -->
            
        </div>
        <!-- /.content-section-b -->


        
        <!-- /////////////////////////////////////////////////////////////// -->
        <!-- /////////////////////////////////////////////////////////////// -->
        <div class="content-section-a">
            
            <div class="container">
                
                <div class="row">
                   <div class="col-lg-5 col-sm-6">
                        <h2 class="section-heading">Ending a Session</h2>
                        <p class="lead">
                        The notifications and siren will continue to fire until the correct passcode is entered.
                        
                        <ol>
                            <li>Launch Screen Time. You can launch it directly from a notification by tapping on it.</li>
                            <li>Enter your passcode to stop all the notifications.</li>
                        </ol>
                        The first time you use Screen Time on a device, you will be prompted to set a passcode.
                        You can change the passcode at any time in the 'Settings' screen in the application.
                        </ol>
                        
                        </p>
                    </div>
                            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="{{ site.baseurl }}public/images/endingasession.png" alt="">
                            </div>
                </div>
                
            </div>
            <!-- /.container -->
            
        </div>
        <!-- /.content-section-b -->
        
        
        
        <!-- /////////////////////////////////////////////////////////////// -->
        <!-- /////////////////////////////////////////////////////////////// -->
        <div class="content-section-b">
            
            <div class="container">
                
                <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <h2 class="section-heading">Data Syncing With iCloud</h2>
                        <p class="lead">
                        
                        
                        Screen Time uses iCloud to sync data between devices. This
                        allows you to monitor your child's screen time between devices.
                        This also allows Screen Time to deliver notifications when
                        a session ends to all your devices, including laptop and desktop computers.
                        </p>
                        <p class="lead">
                        All user names and session data is synced between devices.
                        Please note, passcodes are not synced between devices, you
                        will need to enter one per device. You may use the same
                        passcode across devices.
                        </p>
                        
                        </p>
                    </div>
                 <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="{{ site.baseurl }}public/images/icloudsync.png" alt="">
                            </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-b -->
        
        
        <!-- /////////////////////////////////////////////////////////////// -->
        <div class="content-section-a">
            
            <div class="container">
                
                <div class="row">
                 <div class="col-lg-5 col-sm-6">
                        <h2 class="section-heading">Managing Users</h2>
                        <p class="lead">
                        To assist with understaning and managing your children's
                        screen time, the application allows you to set up users so
                        you can track different users on the save device.
                        
                        <uL>
                            <li>When launching your first session, you will be prompted to provide a user name.</li>
                            <li>You may add/remove users in the Settings screen ('Gear' icon)</li>
                            <li class='bg-danger'>Be advised that when you delete a user, all their session data will be removed.</li>
                            <li>User names are synced between devices using iCloud.</li>
                            </p>
                            </div>
                     <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="{{ site.baseurl }}public/images/usermanagement.png" alt="">
                            </div>
                </div>
                
            </div>
            <!-- /.container -->
            
        </div>
        <!-- /.content-section-b -->
        
        <!-- /////////////////////////////////////////////////////////////// -->
        <!-- /////////////////////////////////////////////////////////////// -->
        <div class="content-section-b">
            
            <div class="container">
                
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <h2 class="section-heading">Data Syncing With iCloud</h2>
                        <p class="lead">
                        
                        
                        Screen Time uses iCloud to sync data between devices. This
                        allows you to monitor your child's screen time between devices.
                        This also allows Screen Time to deliver notifications when
                        a session ends to all your devices, including laptop and desktop computers.
                        </p>
                        <p class="lead">
                        All user names and session data is synced between devices.
                        Please note, passcodes are not synced between devices, you
                        will need to enter one per device. You may use the same
                        passcode across devices.
                        </p>
                        
                        </p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="{{ site.baseurl }}public/images/icloudsync.png" alt="">
                            </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-b -->
        
        {% include footer.html %}
    </body>
</html>
